body {
  background-color: #212121;
}
.calc-case {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vh;
  min-height: 400px;
  min-width: 200px;
  margin: auto;
}

.calc-screen {
  flex: 0 1 25%
}

.calc-buttons {
  flex: 1 1 75%;
}